
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #a8c0ff, #4f4386);
  font-family: Arial, sans-serif;
  width: -webkit-fill-available;
}

#container {
  text-align: center;
}

.word {
  font-size: 22px;
  color: rgb(15, 27, 27);
  opacity: 0;
  animation: fadeIn 0.9s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
